@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
--cor-de-fundo:#ffffff;
--verde:#6FFF57;
--branco:#000000; 
--botao-ativo:#3A375E;
--botao-inativo: rgba(58,54,55,94,0.5);
--texto-fundo: rgba(58,55,94,0.3);
} 

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
} 
  
.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}d

